body {
	margin: 0;
	font-family: "Roboto";
}

.menubar {
	overflow: hidden;
	margin-right: 15%;
	margin-top: 2%;
}

.menubar a {
	float: right;
	color: #242424;
	text-align: center;
	padding: 10px 13px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 550;
}
h1 {
	font-size: 60px;
	font-family: "bebas neue";
	color: rgb(46, 46, 46);
}
#welcome {
	font-size: 30px;
	font-family: "roboto";
	font-weight: 600;
	color: rgb(46, 46, 46);
}
#name {
	color: #fa543b;
}
#top-text-1 {
	font-family: "roboto";
	font-size: 15px;
	color: rgb(46, 46, 46);
	font-weight: 500;
}
#top-text-2 {
	font-family: "roboto";
	font-size: 17px;
	color: rgb(46, 46, 46);
	font-weight: 500;
	margin-left: 20px;
}
.half-width {
	width: 40%;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
	padding: 2%;
	height: auto;
}
.half-width img {
	width: 100%;
	height: 100%;
}
.button {
	text-decoration: none;
	padding: 10px 15px;
	color: whitesmoke;
	border-radius: 10px;
	font-size: 17px;
}
h2 {
	font-size: 40px;
	font-family: "bebas neue";
	font-weight: 600;
	color: rgb(39, 39, 39);
	padding: 20px;
}
.btn {
	background-color: rgb(255, 92, 64);
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 17px;
	cursor: pointer;
	margin-top: 8px;
}
#button-download {
	margin-left: 15px;
	margin-top: 30px;
}
.btn:hover {
	background-color: rgb(255, 99, 94);
}
.about {
	width: 100%;
	height: 800px;
}
#about {
	height: 600px;
}
section {
	height: 400px;
}
#main {
	height: 50px;
}
.project {
	width: 25%;
	float: left;
	margin-left: 6%;
	box-shadow: 10px 10px 40px gray;
	height: 400px;
	background-color: white;
}
.project img {
	width: 350px;
	height: 210px;
	padding-left: 0px;
}
.prj-area {
	height: 450px;
	margin-bottom: 100px;
}
.work {
	height: 200px;
	background-image: url(images/Group1.png);
	background-size: 70%;
	background-repeat: no-repeat;
	margin-left: 27%;
	margin-right: 10%;
	margin-top: 15%;
}
#inquiry {
	font-size: 40px;
	font-family: "bebas neue";
	color: whitesmoke;
	margin-left: 10%;
	margin-bottom: 20%;
}
#chat {
	text-decoration: none;
	background-image: linear-gradient(45deg, rgb(255, 65, 7), rgb(251, 136, 58));
	color: whitesmoke;
	border-radius: 8px;
	padding: 7px;
	font-weight: 300;
	font-family: "roboto";
	font-size: 20px;
}
.site-text {
	padding: 20px;
}
#project-align {
	text-align: center;
}
#project-color {
	color: rgb(255, 65, 7);
}
.social {
	float: left;
	width: 5%;
}
.social img {
	margin-left: 620px;
}
.stay {
	text-align: center;
	height: 200px;
}
* {
	box-sizing: border-box;
}
.skill-bar {
	width: 100%;
	background-color: rgb(100, 100, 100);
	border-radius: 5px;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.html {
	width: 10%;
	background-color: #3546df;
	border-radius: 5px;
}
.css {
	width: 5%;
	background-color: #1cc34e;
	border-radius: 5px;
}
.js {
	width: 0%;
	background-color: #ac1cff;
}
.my-skill {
	margin-left: 300px;
	margin-right: 300px;
	height: 250px;
}
#myskill {
	text-align: center;
	margin-top: 450px;
}
